<div flex layout-fill class="dashboard">

  <div class="inner-text">
    <div *ngIf="state === 0">
      <span class="title">Все надоело и хочется свалить из страны?</span>
      <p class="secondary-title">Ответь на несколько вопросов и узнай куда тебе лучше свалить.</p>
      <br>
      <button mat-raised-button class="mat-primary custom-primary" (click)="start()">Приступить</button>
    </div>
    <div *ngIf="state === 1">
      <span class="question-title">1. Как Вас зовут?</span>
      <br>
      <mat-form-field class="full-width-field">
        <input matInput placeholder="Введите имя" autocomplete="off" [formControl]="name">
        <mat-error>
          <mat-icon>warning</mat-icon>
          <i>Пожалуйста заполните поле</i>
        </mat-error>
      </mat-form-field>
      <br>
      <button mat-raised-button class="mat-primary custom-primary" (click)="next()"
              [disabled]="name.invalid || name.value === ''" [ngClass]="{'custom-pr-border':!(name.invalid)}">
        Следующий Вопрос
      </button>
    </div>
    <div *ngIf="state === 2">
      <span class="question-title">2. Сколько Вам лет?</span>
      <br>
      <mat-slider
        class="custom-mat-slider"
        [max]="60"
        [min]="16"
        [step]="1"
        [thumbLabel]="true"
        [(ngModel)]="age">
      </mat-slider>
      <br>
      <div class="custom-actions">
        <button mat-raised-button class="mat-primary custom-primary custom-prev custom-pr-border" (click)="prev()">
          Предыдущий Вопрос
        </button>
        <button mat-raised-button class="mat-primary custom-primary custom-pr-border margin-padding-10"
                (click)="next()">
          Следующий Вопрос
        </button>
      </div>
    </div>
    <div *ngIf="state === 3">
      <span class="question-title">3. Вы мужчина или женщина?</span>
      <br>
      <div>
        <mat-radio-group style="margin: 7% 0;font-size: 1.5em;"
                         fxLayout="row" fxLayoutAlign="space-between center"
                         class="custom-radio-group">
          <mat-radio-button value="1">Мужчина</mat-radio-button>
          <mat-radio-button value="2">Женщина</mat-radio-button>
        </mat-radio-group>
      </div>
      <br>
      <div class="custom-actions">
        <button mat-raised-button class="mat-primary custom-primary custom-prev custom-pr-border" (click)="prev()">
          Предыдущий Вопрос
        </button>
        <button mat-raised-button class="mat-primary custom-primary custom-pr-border margin-padding-10"
                (click)="next()">
          Следующий Вопрос
        </button>
      </div>
    </div>
    <div *ngIf="state === 4">
      <span class="question-title">4. Семейное положение?</span>
      <br>
      <div>
        <mat-radio-group style="margin: 7% 0;font-size: 1.5em;"
                         fxLayout="row" fxLayoutAlign="space-between center"
                         class="custom-radio-group">
          <mat-radio-button value="1">Холост / Не замужем</mat-radio-button>
          <mat-radio-button value="2">Женат / Замужем</mat-radio-button>
        </mat-radio-group>
      </div>
      <br>
      <div class="custom-actions">
        <button mat-raised-button class="mat-primary custom-primary custom-prev custom-pr-border" (click)="prev()">
          Предыдущий Вопрос
        </button>
        <button mat-raised-button class="mat-primary custom-primary custom-pr-border margin-padding-10"
                (click)="next()">
          Следующий Вопрос
        </button>
      </div>
    </div>
    <div *ngIf="state === 5">
      <span class="question-title">5. Вы закончили университет?</span>
      <br>
      <div style="line-height:50px;margin: 18px 0;">
        <mat-radio-group style="margin: 7% 0;font-size: 1.5em;"
                         [(ngModel)]="univerInfo"
                         class="custom-radio-group">
          <mat-radio-button value="1">Да, я бакалавр/магистр/phd.</mat-radio-button>
          <br>
          <mat-radio-button value="2">Нет, еще учусь.</mat-radio-button>
          <br>
          <mat-radio-button value="3">Не поступал.</mat-radio-button>
        </mat-radio-group>
      </div>
      <br>
      <div class="custom-actions">
        <button mat-raised-button class="mat-primary custom-primary custom-prev custom-pr-border" (click)="prev()">
          Предыдущий Вопрос
        </button>
        <button mat-raised-button class="mat-primary custom-primary custom-pr-border margin-padding-10"
                (click)="next()">
          Следующий Вопрос
        </button>
      </div>
    </div>
    <div *ngIf="state === 6">
      <span class="question-title">6. А на кого Вы учились?</span>
      <br>
      <div style="line-height:50px;margin: 18px 0;">
        <mat-form-field>
          <mat-select [formControl]="cafedraCtrl" #singleSelect>
            <mat-option>
              <ngx-mat-select-search [formControl]="cafedraFilterCtrl"></ngx-mat-select-search>
            </mat-option>

            <mat-option *ngFor="let cafedra of filteredCafedras | async" [value]="cafedra">
              {{cafedra.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br>
      <div class="custom-actions">
        <button mat-raised-button class="mat-primary custom-primary custom-prev custom-pr-border" (click)="prev()">
          Предыдущий Вопрос
        </button>
        <button mat-raised-button class="mat-primary custom-primary custom-pr-border margin-padding-10"
                (click)="next()">
          Следующий Вопрос
        </button>
      </div>
    </div>

  </div>
</div>
